// SPDX-License-Identifier: (GPL-2.0+ OR MIT)
/*
 * Device Tree Overlay Example for media capture pipeline
 *
 * Copyright (C) 2025 Microchip Technology Inc. and its subsidiaries.
 * Author: Shravan Chippa <shravan.chippa@microchip.com>
 *
 */

/dts-v1/;
/plugin/;

#include <dt-bindings/gpio/gpio.h>

/ {
	compatible = "microchip,pic64gx-curiosity-kit", "microchip,pic64gx";
};

&{/} {
	ov5647_clk: ov5647-clk {
		compatible = "fixed-clock";
		#clock-cells = <0>;
		clock-frequency = <25000000>;
	};

	ov5647_gate_clock: ov5647-gate-clock {
		compatible = "gpio-gate-clock";
		clocks = <&ov5647_clk>;
		#clock-cells = <0>;
		enable-gpios = <&gpio0 13 GPIO_ACTIVE_HIGH>;
		status = "okay";
	};
};

&mcsi2rx {

	status = "okay";


	ports {
		#address-cells = <1>;
		#size-cells = <0>;

		port@0 {
			reg = <0>;
			csi2_in: endpoint {
				data-lanes = <1 2>;
				remote-endpoint = <&ov5647_ep_cam>;
			};
		};
	};
};

&i2c1 {
	#address-cells = <1>;
	#size-cells = <0>;

	ov5647: sensor@36 {
		compatible = "ovti,ov5647";
		reg = <0x36>;
		pwdn-gpios = <&gpio0 12 GPIO_ACTIVE_LOW>;
		clocks = <&ov5647_gate_clock>;
		assigned-clocks = <&ov5647_gate_clock>;
		status = "okay";

		port {
			ov5647_ep_cam: endpoint {
				remote-endpoint = <&csi2_in>;
				data-lanes = <1 2>;
				link-frequencies = /bits/ 64 <450000000>;
			};
		};
	};
};

&mchp_vdma_cam {
	status = "okay";
};

&rgbtoyuv422 {
	status = "okay";
};

&rgb_scaler {
	status = "okay";
};

&image_enhancement {
	status = "okay";
};

&white_balance {
	status = "okay";
};

&mono_to_rgb {
	status = "okay";
};
