// SPDX-License-Identifier: (GPL-2.0+ OR MIT)
/*
 * Device Tree Overlay for Icicle Kit
 *
 * Copyright (C) 2022 Microchip Technology Inc. and its subsidiaries.
 * Author: shravan kumar <shravan.chippa@microchip.com>
 *
 */

/dts-v1/;
/plugin/;

/ {
	compatible = "microchip,mpfs-icicle-reference-rtlv2302", "microchip,mpfs-icicle-kit","microchip,mpfs";
};

&i2c2 {
	#address-cells = <0x1>;
	#size-cells = <0x0>;
	status = "okay";

	sensehat@46 {
		compatible = "raspberrypi,sensehat";
		reg = <0x46>;
		interrupt-parent = <&gpio2>;
		status = "okay";

		display {
			compatible = "raspberrypi,sensehat-display";
			status = "okay";
		};

		joystick {
			compatible = "raspberrypi,sensehat-joystick";
			interrupts = <11 1>;
			status = "disabled";
		};
	};

	magnetometer@1c {
		compatible = "st,lsm9ds1-magn";
		reg = <0x1c>;
		status = "okay";
	};

	accelerometer@6a {
		compatible = "st,lsm9ds1-accel";
		reg = <0x6a>;
		status = "okay";
	};

	pressure@5c {
		compatible = "st,lps25h-press";
		reg = <0x5c>;
		status = "okay";
	};

	humidity@5f {
		compatible = "st,hts221";
		reg = <0x5f>;
		status = "okay";
	};
};
