// SPDX-License-Identifier: (GPL-2.0+ OR MIT)
/*
 * sama7g5ek_i2s0_proto.dtso - Device Tree file for SAMA7G5-EK board
 * overlay blob for I2S with PROTO board. The blob uses i2s0 and i2c9.
 *
 * Copyright (C) 2020 Microchip Technology Inc. and its subsidiaries
 * Author: Codrin Ciubotariu <codrin.ciubotariu@microchip.com>
 *
 */
/dts-v1/;
/plugin/;

#include "sama7g5-pinfunc.h"

&i2s0 {
	status = "okay";
};

&i2c9 {
	#address-cells = <1>;
	#size-cells = <0>;
	wm8731: wm8731@1a {
		compatible = "wlf,wm8731";
		reg = <0x1a>;
	};
};

&{/} {
	sound@1 {
		compatible = "mikroe,mikroe-proto";
		model = "wm8731 @ sama7g5ek";
		i2s-controller = <&i2s0>;
		audio-codec = <&wm8731>;
		dai-format = "i2s";
        };
};
