/dts-v1/;
/plugin/;

&i2c2 {
	#address-cells = <1>;
	#size-cells = <0>;

	temperature-sensor@4c {
		compatible = "lm75";
		reg = <0x4c>;
		status = "okay";
	};
};

&{/} {
	model = "Atmel SAMA5D27 SOM1 EK with Thermo5";
};

