// SPDX-License-Identifier: (GPL-2.0+ OR MIT)
/*
 * Device Tree file for SAMA7D65 CURIOSITY board overlay blob supporting the
 * LAN9646 6-port Gigabit switch Daughter Card using I2C or SPI and RGMII.
 *
 * Copyright (C) 2025 Microchip Technology Inc. and its subsidiaries
 *
 * Author: Jerry Ray <jerry.ray@microchip.com>
 *
 * Refer to the EV94T99A (LAN9646-EDS2 daughter card)
 *
 */
/dts-v1/;
/plugin/;
#include "sama7d65-pinfunc.h"
#include <dt-bindings/mfd/atmel-flexcom.h>
#include <dt-bindings/clock/at91.h>
#include <dt-bindings/pinctrl/at91.h>
#include <dt-bindings/gpio/gpio.h>
#include <dt-bindings/interrupt-controller/irq.h>

&{/}
{
	model = "Microchip SAMA7D65 Curiosity LAN9646 Gigabit Switch";

	sfp: sfp {
		compatible = "sff,sfp";
		i2c-bus = <&i2c10>;
	};
};

&flx4 {
	atmel,flexcom-mode = <ATMEL_FLEXCOM_MODE_SPI>;
	status = "okay";
};

&gmac1 {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_gmac1_default
		     &pinctrl_gmac1_mdc_default
		     &pinctrl_gmac1_mdio_default
		     &pinctrl_gmac1_txck_default
		     &pinctrl_gmac1_phy_irq>;
	phy-mode = "rgmii-id";
	status = "okay";

	fixed-link {
		speed = <1000>;
		full-duplex;
		pause;
	};

	ethernet-phy@1 {
		status = "disabled";
	};
};

&i2c10 {
	#address-cells = <1>;
	#size-cells = <0>;
	dmas = <0>, <0>;
	status = "okay";

	eeprom@54 {
		compatible = "atmel,24c01";
		reg = <0x54>;
		pagesize = <8>;
		status = "okay";
	};

	lan9646i2c: lan9646i-switch@5f {
		compatible = "microchip,lan9646";
		reg = <0x5f>;
		interrupt-parent = <&pioa>;
		interrupts = <PIN_PE3 IRQ_TYPE_LEVEL_LOW>;
		status = "okay";

		ports {
			#address-cells = <1>;
			#size-cells = <0>;
			port@0 {
				reg = <0>;
				label = "lan1";
				phy-handle = <&swphy_0>;
			};
			port@1 {
				reg = <1>;
				label = "lan2";
				phy-handle = <&swphy_1>;
			};
			port@2 {
				reg = <2>;
				label = "lan3";
				phy-handle = <&swphy_2>;
			};
			port@3 {
				reg = <3>;
				label = "lan4";
				phy-handle = <&swphy_3>;
			};
			port@4 {
				reg = <5>;
				phy-mode = "rgmii-id";
				rx-internal-delay-ps = <2000>;
				tx-internal-delay-ps = <2000>;
				ethernet = <&gmac1>;

				fixed-link {
					speed = <1000>;
					full-duplex;
					pause;
				};
			};
			port@5 {
				reg = <6>;
				label = "lan5";
				phy-mode = "sgmii";
				sfp = <&sfp>;
				managed = "in-band-status";
			};
		};
		mdio {
			#address-cells = <1>;
			#size-cells = <0>;
			swphy_0: ethernet-phy@0 {
				reg = <0>;
				eee-broken-100tx;
				eee-broken-1000t;
			};
			swphy_1: ethernet-phy@1 {
				reg = <1>;
				eee-broken-100tx;
				eee-broken-1000t;
			};
			swphy_2: ethernet-phy@2 {
				reg = <2>;
				eee-broken-100tx;
				eee-broken-1000t;
			};
			swphy_3: ethernet-phy@3 {
				reg = <3>;
				eee-broken-100tx;
				eee-broken-1000t;
			};
		};
	};
};

&pioa {
	pinctrl_spi4_default: spi4-default{
		pinmux = <PIN_PA18__FLEXCOM4_IO0>,	/* MOSI */
			 <PIN_PA17__FLEXCOM4_IO1>,	/* MISO */
			 <PIN_PA16__FLEXCOM4_IO2>,	/* SPCK */
			 <PIN_PA15__FLEXCOM4_IO3>,	/* CS0 */
			 <PIN_PA14__FLEXCOM4_IO4>,	/* CS1 */
			 <PIN_PA19__FLEXCOM4_IO5>,	/* CS2 */
			 <PIN_PA20__FLEXCOM4_IO6>;	/* CS3 */
		bias-disable;
	};
};

&spi4 {
	#address-cells = <1>;
	#size-cells = <0>;
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_spi4_default>;
	status = "okay";

	lan9646: lan9646-switch@3 {
		compatible = "microchip,lan9646";
		reg = <3>;
		interrupt-parent = <&pioa>;
		interrupts = <PIN_PE3 IRQ_TYPE_LEVEL_LOW>;
		spi-max-frequency = <10000000>;		/* 10MHz until proven */
		spi-cpha;
		spi-cpol;
		status = "okay";

		ports {
			#address-cells = <1>;
			#size-cells = <0>;
			port@0 {
				reg = <0>;
				label = "lan1";
				phy-handle = <&swphy0>;
			};
			port@1 {
				reg = <1>;
				label = "lan2";
				phy-handle = <&swphy1>;
			};
			port@2 {
				reg = <2>;
				label = "lan3";
				phy-handle = <&swphy2>;
			};
			port@3 {
				reg = <3>;
				label = "lan4";
				phy-handle = <&swphy3>;
			};
			port@4 {
				reg = <5>;
				phy-mode = "rgmii-id";
				rx-internal-delay-ps = <2000>;
				tx-internal-delay-ps = <2000>;
				ethernet = <&gmac1>;
				fixed-link {
					speed = <1000>;
					full-duplex;
					pause;
				};
			};
			port@5 {
				reg = <6>;
				label = "lan5";
				phy-mode = "sgmii";
				sfp = <&sfp>;
				managed = "in-band-status";
			};
		};
		mdio {
			#address-cells = <1>;
			#size-cells = <0>;
			swphy0: ethernet-phy@0 {
				reg = <0>;
				eee-broken-100tx;
				eee-broken-1000t;
			};
			swphy1: ethernet-phy@1 {
				reg = <1>;
				eee-broken-100tx;
				eee-broken-1000t;
			};
			swphy2: ethernet-phy@2 {
				reg = <2>;
				eee-broken-100tx;
				eee-broken-1000t;
			};
			swphy3: ethernet-phy@3 {
				reg = <3>;
				eee-broken-100tx;
				eee-broken-1000t;
			};
		};
	};
};
