// SPDX-License-Identifier: (GPL-2.0+ OR MIT)
/*
 *  Device Tree overlay for SAMA7D65-CURIOSITY board
 *  in order to use MIPI displays
 *
 *  Copyright (c) 2024 Microchip Technology Inc. and its subsidiaries
 *
 *  Author: Romain Sioen <romain.sioen@microchip.com>
 *
 */
/dts-v1/;
/plugin/;
#include "sama7d65-pinfunc.h"
#include <dt-bindings/mfd/atmel-flexcom.h>
#include <dt-bindings/clock/at91.h>
#include <dt-bindings/pinctrl/at91.h>
#include <dt-bindings/gpio/gpio.h>

&{/}
{
	model = "Microchip SAMA7D65 Curiosity MIPI";

	backlight: backlight {
		compatible = "pwm-backlight";
		pwms = <&pwm 3 1000000 0>;
		brightness-levels = <0 4 8 16 32 64 128 255>;
		default-brightness-level = <7>;
		power-supply = <&vdd_5v>;
	};

	mic23150_reg: mic23150-regulator {
		compatible = "regulator-fixed";
		regulator-name = "panel-power-supply";
		regulator-min-microvolt = <3300000>;
		regulator-max-microvolt = <3300000>;
		gpios = <&pioA PIN_PB18 GPIO_ACTIVE_HIGH>;
		enable-active-high;
	};

	vdd_5v: fixed-regulator-vdd-5v {
 		compatible = "regulator-fixed";
		regulator-name = "VDD_5V";
		regulator-min-microvolt = <5000000>;
		regulator-max-microvolt = <5000000>;
		regulator-always-on;
	};
};

&dsi {
	status = "okay";
	#address-cells = <1>;
	#size-cells = <0>;

	ports {
		#address-cells = <1>;
		#size-cells = <0>;

		port@0 {
			reg = <0>;
			dsi_in: endpoint {
				remote-endpoint = <&xlcdc_out>;
			};
		};

		port@1 {
			reg = <1>;
			dsi_out: endpoint {
				remote-endpoint = <&mipi_in_panel>;
			};
		};
	};

	panel@0 {
		reg = <0>;
		compatible = "microchip,ac40t08a-mipi-panel";
		backlight = <&backlight>;
		vcc-supply = <&mic23150_reg>;
		iovcc-supply = <&vldo1>;
		/* Provide the panel-himax-hx8394 driver with a fake GPIO. */
		reset-gpio = <&pioA PIN_PC3 GPIO_ACTIVE_LOW>; /* Conflict with RPi 40Pin GPIO17 */
		#address-cells = <1>;
		#size-cells = <0>;

		port@0 {
			reg = <0>;
			mipi_in_panel: endpoint {
				remote-endpoint = <&dsi_out>;
			};
		};
	};
};

&flx0 {
	atmel,flexcom-mode = <ATMEL_FLEXCOM_MODE_TWI>;
	status = "okay";
};

&i2c0 {
	#address-cells = <1>;
	#size-cells = <0>;
	pinctrl-names = "default", "gpio";
	pinctrl-0 = <&pinctrl_i2c0_default>;
	pinctrl-1 = <&pinctrl_i2c0_gpio>;
	sda-gpios = <&pioA PIN_PC6 GPIO_ACTIVE_HIGH>;
	scl-gpios = <&pioA PIN_PC7 (GPIO_ACTIVE_HIGH | GPIO_OPEN_DRAIN)>;
	i2c-analog-filter;
	i2c-digital-filter;
	i2c-digital-filter-width-ns = <35>;
	status = "okay";

	mxt: atmel-mxt-ts@4a {
		compatible = "atmel,maxtouch";
		reg = <0x4a>;
		interrupt-parent = <&pioA>;
		interrupts = <PIN_PB16 0x0>;
		pinctrl-names = "default";
		pinctrl-0 = <&pinctrl_mxt_irq>;
		vdda-supply = <&mic23150_reg>;
		vdd-supply = <&vdd_3v3>;
	};
};

&pioA {
	pinctrl_i2c0_default: i2c0-default {
		pinmux = <PIN_PC7__FLEXCOM0_IO0>,
			<PIN_PC6__FLEXCOM0_IO1>;
		bias-pull-up;
	};

	pinctrl_i2c0_gpio: i2c0-gpio{
		pinmux = <PIN_PC7__GPIO>,
			 <PIN_PC6__GPIO>;
		bias-disable;
	};

	pinctrl_lcd_pwm: lcd-pwm {
		pinmux = <PIN_PB14__PWMH3>;
		bias-disable;
	};

	pinctrl_mxt_irq: pinctrl-mxt-irq {
		pinmux = <PIN_PB16__GPIO>;
		bias-pull-up;
		input-debounce = <1>;
	};
};

&pwm {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_lcd_pwm>;
	status = "okay";
};

&xlcdc {
	clocks = <&pmc PMC_TYPE_PERIPHERAL 56>, <&pmc PMC_TYPE_GCK 56>, <&clk32k 1>;
	clock-names = "periph_clk", "sys_clk", "slow_clk";
	assigned-clocks = <&pmc PMC_TYPE_GCK 56>;
	assigned-clock-rates = <66000000>;
	assigned-clock-parents = <&pmc PMC_TYPE_CORE PMC_MCK1>;
	status = "okay";

	hlcdc-display-controller {
		port@0 {
			#address-cells = <1>;
			#size-cells = <0>;
			xlcdc_out: endpoint@0 {
				reg = <0>;
				remote-endpoint = <&dsi_in>;
			};
		};
	};
};
